
 <div class="container ">
   <div class="d-flex justify-content-between align-items-center  my-3">
   <h2>Check-out</h2>
   <p-button label="Indietro" styleClass="p-button-secondary p-button-text"
   [routerLink]="['../cart']"></p-button>
  </div>
  <h4>Il tuo ordine</h4>
 <div class="row">
  <p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Prodotto</th>
            <th>Nome</th>
            <th>Quantità</th>
            <th>Prezzo</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td><img src="{{ product.product.image }}" alt="{{ product.product.name }}" class="image-product"></td>
            <td>{{ product.product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.product.costPrice * product.quantity | currency: 'EUR'}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
          <td colspan="2" class="text-right">Totale</td>
          <td>{{cart?.totalItems }}</td>
          <td>{{cart?.totalPrices | currency: 'EUR'}}</td>
      </tr>
      <tr>
        <td class="fw-lighter">{{user?.username}}</td>
        <td class="fw-lighter">{{user?.email}}</td>
        <td class="fw-lighter"><img src="../../../../assets/2560px-Stripe_Logo,_revised_2016.svg.png" alt="" class="image-product"></td>
        <td class="text-right">
          <p-button label="Paga Ora!" styleClass="p-button-raised p-button-warning"
          (click)="makePayment(cart?.totalPrices)">

          </p-button>
        </td>

      </tr>
  </ng-template>
</p-table>

<p-dialog header="Ordine effettuato con successo!" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <p class="m-0">
      Continua ad acquistare il prodotto giusto per te!
  </p>
</p-dialog>
  </div>
