
 <div class="container">
 <h2 class="mt-5 mb-4">Pagamento</h2>
 <div class="row">

   <div class="col-6 card">
     <p> <b>Totale prodotti: </b>{{cart?.totalItems}}</p>
     <p><b>Totale prezzo: </b>{{cart?.totalPrices}}</p>
     <b>Dettaglio prodotti: </b>
      <div *ngFor="let item of items">
      {{item?.product.name}} x {{item?.quantity}}
      </div>
      <button (click)="makePayment(cart?.totalPrices)" class="btn btn-danger btn-block">Pay ${{cart?.totalPrices}}</button>
    </div>

    <div class="col-6 card">
      <h5>Customer</h5>
      <p>
        <b>Name: </b>{{user?.name}}
      </p>
      <p>
        <b>Username: </b>{{user?.username}}
      </p>
      <p>
        <b>Email: </b>{{user?.email}}
      </p>
    </div>
  </div>

