<h3 class="">Prodotti</h3>
<p class="card mb-2" *ngIf="prodotti.length == 0">
  Non ci sono prodotti
</p>
<!-- <div *ngFor="let prodotto of prodotti">
  <div class="card mb-2">

  <div>
    {{prodotto.name}}
  </div>
  <div>
    {{prodotto.description}}
  </div>

  </div>
</div> -->

<div class="card">
  <p-table [value]="prodotti" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Nome</th>
              <th>Descrizione</th>
              <th>Quantita</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.currentQuantity }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
