<!-- <div >

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">prezzo</th>
        <th scope="col">quantita'</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items">
      <tr>
        <td>{{item.product.name}}</td>

        <td>{{item.totalPrice}}</td>
        <td>
          <form>
          <input type = "hidden" name = "id" [(ngModel)]="item.product.id" >
          <td class="quantity-box">
              <input type="number" name="quantity" [(ngModel)]="item.quantity" size="4"
                     value="1" min="0" step="1"
                     class="c-input-text qty text">
          </td>

          <td>
              <button type="submit" name="action" value="update" title="Update"
                      class="btn btn-primary" (click)="putCart(item.product.id, item.quantity)">
                  Update
              </button>
              <button type="submit" name="action" value="delete" title="Update"
                      class="btn btn-danger" (click)="deleteFromCart(item.product.id)">
                  Delete
              </button>
          </td>
      </form></td>
      </tr>

    </tbody>
  </table>
  <div class="d-flex justify-content-center flex-column align-items-center">
    <p>{{cart.totalItems}}</p>
    <p>{{cart.totalPrices}} $</p>
  </div>

</div> -->

<div class="container-fluid">
  <h3>Carrello</h3>
  <div class="row">


    <div class="card col-8" >
      <div class="row mb-3" *ngFor="let item of items">


      <div class="col-6">
        <p><img src="{{item.product.image}}" alt="{{item.product.name}}" class="w-50"></p>
      </div>
      <div class="col-6 d-flex flex-column justify-content-center">
        <p>{{item.product.name}}</p>
        <p>{{item.product.costPrice}} $</p>



        <form>
          <input type="hidden" name="id" [(ngModel)]="item.product.id">
          <td class="quantity-box">
            <input type="number" name="quantity" [(ngModel)]="item.quantity" size="4" value="1" min="0" step="1"
              class="c-input-text qty text" (ngModelChange)="putCart(item.product.id, item.quantity)">
          </td>

          <td>
            <!-- <button type="submit" name="action" value="update" title="Update" class="btn btn-primary"
              (click)="putCart(item.product.id, item.quantity)">
              Update
            </button> -->
            <button type="submit" name="action" value="delete" title="Update" class="btn btn-danger"
              (click)="deleteFromCart(item.product.id)">
              Delete
            </button>
          </td>
        </form>
      </div>
    </div>

</div>
  <div class="col-3 ">
      <div class="card">
        <h4>Vai al checkout</h4>
        <p>Totale Prodotti: {{cart.totalItems}}</p>
        <p>Prezzo Finale: {{cart.totalPrices}} $</p>
        <button pButton pRipple label="Procedi all'ordine" class="p-button-warning" [routerLink]="['../check-out']"></button>
      </div>
    </div>

  </div>

</div>

