<nav class="top-bar fixed-top navbarr" [ngClass]="{'transparent': isNavbarTransparent}">

  <div class="container">
    <div class="links">
      <img class="logo" src="../../../assets/logo-e-store.png" alt="logo">
      <ul class="list">
        <li class="listItem"><a [routerLink]="'#home-section'"
            (click)="scrollToSection('#home-section')">Home</a></li>
        <li class="listItem"><a [routerLink]="'#prodotti-section'"
            (click)="scrollToSection('#prodotti-section')">Prodotti</a></li>
        <li class="listItem"><a [routerLink]="'#recensioni-section'"
            (click)="scrollToSection('#recensioni-section')">Recensioni</a></li>
      </ul>
    </div>
    <div class="button-group">

      <p-button label="Login" styleClass="p-button-link button text-dark" [routerLink]="['login']"></p-button>
      <p-button label="Registrati" styleClass="p-button-warning button" [routerLink]="['register']"></p-button>
    </div>
  </div>

</nav>



<div class="prima sezione" id="home-section">
  <div class="left">
    <app-model></app-model>
  </div>
  <div class="right">
    <h1>Benvenuti nel nostro negozio online, dove il tuo shopping diventa un'esperienza unica!</h1>
    <h4 class="fst-italic">Scopri le ultime tendenze della moda a prezzi imbattibili.</h4>
  </div>
</div>

<div class="seconda sezione" id="prodotti-section">
  <div class="left">
    <h3 class="text-center">
      Scegli tra i migliori prodotti quello giusto per te
    </h3>
  </div>
  <div class="right">
    <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let img of images; index as i" class="rounded">

        <div class="picsum-img-wrapper">
          <img [src]="img" alt="My image {{i + 1}} description" class="rounded " />
        </div>

      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="terza" id="recensioni-section">
  <p-card header="Emily Johnson">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
      size="xlarge" shape="circle"></p-avatar>
    <p>Sono rimasta davvero soddisfatta dello shopping su eStore. Ampia scelta di prodotti e un'esperienza utente molto
      piacevole!</p>
    <ngb-rating [rate]="4"></ngb-rating>
  </p-card>
  <p-card header="James Smith">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" styleClass="mr-2"
      size="xlarge" shape="circle"></p-avatar>
    <p>
      eStore è il mio nuovo punto di riferimento per lo shopping online! Grandi offerte e un servizio clienti
      eccellente. Consigliato!</p>
    <ngb-rating [rate]="5"></ngb-rating>
  </p-card>
  <p-card header="Olivia Davis">
    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" styleClass="mr-2"
      size="xlarge" shape="circle"></p-avatar>
    <p>Che piacevole esperienza di shopping su eStore! Ampia selezione di prodotti e consegna veloce. Sono davvero
      soddisfatto dei miei acquisti qui.</p>
    <ngb-rating [rate]="5"></ngb-rating>
  </p-card>

</div>

<footer class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Informazioni</h4>
        <ul>
          <li>Chi siamo</li>
          <li>Contatti</li>
          <li>Termini e condizioni</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Servizi</h4>
        <ul>
          <li>Spedizioni</li>
          <li>Resi</li>
          <li>Assistenza clienti</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Seguimi</h4>
        <ul>
          <li><a href="https://github.com/SimoneAiello97" target="_blank"><i class="pi pi-github"></i> GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/simone-aiello/" target="_blank"><i class="pi pi-linkedin"></i> LinkedIn</a></li>
          <li><a href="https://simoneaiello.com/" target="_blank"><i class="pi pi-user" ></i> Portfolio</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
