<div class="main">
  <div class="card">
    <span class="p-float-label">
      <input pInputText id="name" [(ngModel)]="value" />
      <label htmlFor="username">Name</label>
    </span>
  </div>
  <div class="card">
    <span class="p-float-label">
      <input pInputText id="username" [(ngModel)]="value" />
      <label htmlFor="username">Username</label>
    </span>
  </div>
  <div class="card">
    <span class="p-float-label">
      <input pInputText id="email" [(ngModel)]="value" />
      <label htmlFor="username">Email</label>
    </span>
  </div>
  <div class="card">
    <span class="p-float-label">
      <input pInputText id="password" [(ngModel)]="value" />
      <label htmlFor="username">Password</label>
    </span>
  </div>

</div>
