<div class="main">
  <form>

    <div class="card">
      <span class="p-float-label">
      <input pInputText name="name" [(ngModel)]="data.name" />
      <label htmlFor="name">Name</label>
    </span>
  </div>
  <div class="card">
    <span class="p-float-label">
      <input pInputText name="username" [(ngModel)]="data.username" />
      <label htmlFor="username">Username</label>
    </span>
  </div>
  <div class="card">
    <span class="p-float-label">
      <input pInputText name="email" [(ngModel)]="data.email" />
      <label htmlFor="email">Email</label>
    </span>
  </div>
  <div class="card">
    <span class="p-float-label">
      <input pInputText name="password" [(ngModel)]="data.password" />
      <label htmlFor="password">Password</label>
    </span>
  </div>

  <button (click)="register()" pButton pRipple label="Submit" class="p-button-success"></button>


    </form>
</div>
