<div class="main bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>

  <p-card role="region"  header="Registrati!" [style]="{ width: '340px' }" >
    <form class="d-flex flex-column justify-content-center align-items-center">
  <div class="ciao">
      <span class="p-float-label">
      <input pInputText name="name" [(ngModel)]="data.name" />
      <label htmlFor="name">Name</label>
    </span>
  </div>
  <div class="ciao">
    <span class="p-float-label">
      <input pInputText name="username" [(ngModel)]="data.username" />
      <label htmlFor="username">Username</label>
    </span>
  </div>
  <div class="ciao">
    <span class="p-float-label">
      <input pInputText name="email" [(ngModel)]="data.email" />
      <label htmlFor="email">Email</label>
    </span>
  </div>
  <div class="ciao">
    <span class="p-float-label">
      <input pInputText name="password" [(ngModel)]="data.password" />
      <label htmlFor="password">Password</label>
    </span>
  </div>

  <button (click)="register()" pButton pRipple label="Registrati" class="p-button-info w-75"></button>

</form>
</p-card>
<p-button label="Sei già registrato? Accedi" styleClass="p-button-info p-button-text mt-3" [routerLink]="['../login']"></p-button>
<p-button label="Indietro" styleClass="p-button-secondary p-button-text" [routerLink]="['/']"></p-button>
  <p-messages  [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false" [closable]="false"></p-messages>

</div>
