.main{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
background-image: url(../../../../assets/HomePage.png);
backdrop-filter: blur(10px) !important;
form{
}.card{
  margin-bottom: 2rem;
 }
}
