.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f4f4;
  .logo{
    display: flex !important;
    justify-content: center !important;
    padding: 0;
    margin-bottom: -3rem;
  }
  img{
    width: 200px;
  }
  .ciao{
    width: 235px !important;
    height: 50px!important;
    margin-bottom: 2rem;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    input{
      width: 100%;
    }
  }

  .p-button-warning{
    width: 235px !important;
  height: 50px!important;
  }
 }
