<div class="main">

  <nav class="top-bar sticky-top navbarr">

    <div class="container">
    <div class="links">
      <img class="logo" src="../../../assets/logo-e-store.png" alt="logo">


    </div>
    <div class="button-group d-flex align-items-center justify-content-between">
      <p-avatar size="large" shape="circle" [style]="{ 'background-color': '#f9af23', color: '#ffffff' }">
        <span class="text-base">{{nomeUtente.charAt(0).toUpperCase()}}</span>
    </p-avatar>


    <p-button label="Logout" styleClass="p-button-rounded p-button-secondary ms-2 bg-dark" (click)="logout()"></p-button>
    <i class="pi pi-shopping-cart mr-4 p-text-secondary ms-4" pBadge style="font-size: 2rem" value="{{cart != null ? numeroCarrello : 0 }}" [routerLink]="['cart']"></i>
    </div>
  </div>

</nav>

<app-hero></app-hero>

<section class="container-fluid">
  <div class="row">
    <div class="card d-flex flex-column flex-md-row justify-content-center gap-3">
      <div class="d-flex justify-content-evenly">


      <form (submit)="loadProducts()" class="p-float-label">
        <input id="username" type="text" pInputText [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
        <label htmlFor="username">Cosa cerchi?</label>
      </form>

        <p-button icon="pi pi-sort-amount-down-alt" styleClass="p-button-rounded p-button-secondary  p-button-outlined "
        (click)="filterLowPrice()"></p-button>

      <p-button icon="pi pi-sort-amount-up" styleClass="p-button-rounded p-button-secondary  p-button-outlined "
        (click)="filterHighPrice()"></p-button>
      </div>
<div class="d-flex justify-content-between">
      <p-dropdown placeholder="Seleziona un Categoria" [options]="categorie" [(ngModel)]="numberCategory"
        optionLabel="name" [ngModelOptions]="{standalone: true}" (ngModelChange)="onSelectChange($event.id)"></p-dropdown>

      <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger  p-button-outlined ms-1"
        (click)="reset()"></p-button>
      </div>

    </div>
  </div>


<div class="row">
  <div *ngFor="let prodotto of prodotti" class="col-12 col-md-6 col-lg-4 col-xl-3 my-2 d-flex justify-content-center carte">

  <div class="card">
      <img src="{{prodotto.image}}" class="card-img" alt="img-product">
      <div class="card-body w-100 h-100 d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">{{prodotto.name}}</h5>
          <p class="card-text">{{prodotto.costPrice | currency: 'EUR'}}</p>
          <div class="d-flex flex-row flex-md-column flex-lg-row align-items-center justify-content-between">
            <p-button label="Add to Cart" icon="pi pi-shopping-cart" styleClass="p-button-warning" (click)="addToCart(prodotto.id)"  ></p-button>
            <p-button label="View Product" icon="pi pi-eye" styleClass="p-button-secondary bg-dark" [style]="{ 'margin-left': '.5em' }" [routerLink]="['single-product',prodotto.id]" ></p-button>
          </div>
      </div>
  </div>


</div>

</div>

</section>
<p-paginator (onPageChange)="onPageChange($event)" [first]="0" [rows]="8" [totalRecords]="120" [rowsPerPageOptions]="[8, 16, 24]" ></p-paginator>
