.top-bar{
  display: flex;
justify-content: center;
background-color: white;
transition: background-color 0.5s ease-in-out;
i.pi-shopping-cart{
  cursor: pointer;
}
.container{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 10px;
  }
a{
  text-decoration:none;
  color: black;
}
@media only screen and (max-width: 768px) {
  width: 100%;
}
}
.links{
  display: flex;
  align-items: center;
  gap: 50px;
  .logo{
    height: 50px;
  }

  }
}
.text-base
{
  font-size: 14px;
}
/*  .immagine{
  width: fit-content;
  max-height: 250px;

} */
.carte{


.card{
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  //min-height: 250px;
  //min-width: 100%;
  //max-height: 60vh;
  z-index: 2;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
.card-img{
  object-fit:contain;
  border-radius: 15px;
  max-height: 100%;
}
.card-body{
  position: absolute;
  top:0;
  right: -100%;
  background: #1017198d;
  backdrop-filter: blur(5px);
  border-radius: 25px;
  color: #fff;
  padding: 30px;
  transition: 0.6s ease-out;
}
.card-title{
  text-transform: uppercase;
  font-weight: 500;
}
.card-text{
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
}
.card-btn{
  color: #1f3d47;
  background-color: rgba(62, 210, 210, 0.831);
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  width: 60%;
}

&:hover .card-body{
  right: 0;
}
}
.rotate:hover {

svg{
  transform: rotate(-360deg);
  transition: 2s ease-out;
}
}
}






