<div class="main">

  <nav class="top-bar fixed-top navbarr">

    <div class="container">
    <div class="links">
      <img class="logo" src="../../../assets/logo-e-store.png" alt="logo">


    </div>
    <div class="button-group d-flex align-items-center justify-content-between">
      <p-avatar size="large" shape="circle" [style]="{ 'background-color': '#f9af23', color: '#ffffff' }">
        <span class="text-base">{{nomeUtente.charAt(0).toUpperCase()}}</span>
    </p-avatar>


    <p-button label="Logout" styleClass="p-button-rounded p-button-secondary ms-2 bg-dark" (click)="logout()"></p-button>
    <i class="pi pi-shopping-cart mr-4 p-text-secondary ms-4" pBadge style="font-size: 2rem" value="{{numeroCarrello}}" [routerLink]="['cart']"></i>
    </div>
  </div>

</nav>


<div class="hero">

	<div class="hero__item">
		<h1 class="title">Lo Store giusto per te!</h1>
	</div>
	<div class="hero__item">

		<div class="boxes">
			<div><img src="../../../assets/logo-e-store.png" alt=""></div>
			<div class="boxes__box"></div>
			<div class="boxes__box"></div>
			<div class="boxes__box"></div>
			<div class="boxes__box"></div>
			<div class="boxes__box"></div>
			<div class="boxes__box"></div>
		</div>
	</div>
</div>

<section class="container-fluid">
  <div class="row">
    <div class="card d-flex flex-column flex-md-row justify-content-center gap-3">

      <form (submit)="loadProducts()" class="p-float-label">
        <!-- <i  type="submit" class="pi pi-search"></i> -->
        <input id="username" type="text" pInputText [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
        <label htmlFor="username">Cosa cerchi?</label>
      </form>
      <p-button icon="pi pi-sort-amount-down-alt" styleClass="p-button-rounded p-button-secondary  p-button-outlined"
        (click)="filterLowPrice()"></p-button>

      <p-button icon="pi pi-sort-amount-up" styleClass="p-button-rounded p-button-secondary  p-button-outlined"
        (click)="filterHighPrice()"></p-button>

      <!--
      <select  class="form-select" [(ngModel)]="numberCategory" [ngModelOptions]="{standalone: true}" (ngModelChange)="onSelectChange($event)">

        <option [value]="" selected disabled>una categoria</option>

        <ng-container *ngFor="let categoria of categorie">
        <option selected type="submit" [value]="categoria.id" >{{categoria.name}}</option>
      </ng-container>
    </select> -->

      <p-dropdown placeholder="Seleziona un Categoria" [options]="categorie" [(ngModel)]="numberCategory"
        optionLabel="name" [ngModelOptions]="{standalone: true}" (ngModelChange)="onSelectChange($event.id)"></p-dropdown>

      <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger  p-button-outlined"
        (click)="reset()"></p-button>
    </div>
  </div>


<div class="row">
  <div *ngFor="let prodotto of prodotti" class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 d-flex justify-content-center">


  <p-card  header="{{prodotto.name}}" subheader="{{prodotto.salePrice}} $" [style]="{ width: '360px', height: '540px'}">
    <ng-template pTemplate="header">
        <img alt="Card" src="{{prodotto.image}}" class="immagine img-fluid"/>
    </ng-template>
    <p>
        {{prodotto.description}}
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Add to Cart" icon="pi pi-shopping-cart" styleClass="p-button-warning" (click)="addToCart(prodotto.id)"></p-button>
        <p-button label="View Product" icon="pi pi-eye" styleClass="p-button-secondary bg-dark" [style]="{ 'margin-left': '.5em' }" [routerLink]="['single-product',prodotto.id]"></p-button>
    </ng-template>
</p-card>
</div>

</div>

</section>
<p-paginator (onPageChange)="onPageChange($event)" [first]="0" [rows]="4" [totalRecords]="120" [rowsPerPageOptions]="[4, 8, 12]" ></p-paginator>
