.top-bar{
  display: flex;
justify-content: center;
background-color: white;
transition: background-color 0.5s ease-in-out;
i.pi-shopping-cart{
  cursor: pointer;
}
.container{
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 10px;
  }
a{
  text-decoration:none;
  color: black;
}
@media only screen and (max-width: 768px) {
  width: 100%;
}
}
.links{
  display: flex;
  align-items: center;
  gap: 50px;
  .logo{
    height: 50px;
  }

  }
}
.text-base
{
  font-size: 14px;
}
 .immagine{

  max-height: 250px;

}

.hero {
	background-color: #f5f5f5;
	width: 100%;
	height: 100vh;
	display:flex;
	justify-content:space-between;
	align-items:center;
	overflow:hidden;
	&__item {
		padding-left: 80px;
		&:last-child {
			padding-left: 0;
			padding-right: 180px;
		}
		.title {
			position:relative;
		}
		h1 {
			font-size: 90px;
			position:relative;
		}
		img {
			z-index: 2;
			position:relative;
			opacity: 0;
			right: -1000px;
		}
	}
}

$box: #f9af23;
.boxes {
	position:relative;
	&__box {
		min-width: 120px;
		min-height: 120px;
		background-color: $box;
		position: absolute;
		top: -70px;
		left: -20px;
		&:first-child {
			top: -210px;
			left: 0;
		}
		&:nth-child(2) {
			background-color: lighten($box, 5%);
			bottom: -50px;
			left: -90px;
			top:auto;
			height: 240px;
			width: 240px
		}
		&:nth-child(3) {
			background-color: lighten($box, 4%);
			top: -50px;
			right: 40px;
			left: auto;
			height: 200px;
			width: 200px;
		}
		&:nth-child(4) {
			background-color: lighten($box, 7%);
			top: -30px;
			left:-120px;
			height:220px;
			width:220px;

		}
		&:nth-child(5) {
			background-color: lighten($box, 2%);
			right: -50px;
			top: auto;
			left:auto;
			bottom:-40px;
			height: 170px;
			width: 170px;
		}

  }
}
